<main class="container" data-controller="example">
  <div id="init_loader">Loading</div>
  <div>
    <button data-action="click->Example#increment">Increment</button>
    #data-action
  </div>
  <div>
    <button data-reflex="click->Example#reset">Reset</button>
    #data-reflex makes multiple hit
  </div>
</main>